body {
    width: 100%;
    height: auto;
    background-image: url('https://i.ibb.co/SRWL57K/Color-Template-2.webp');/*#0e1e38*/
    background-size: cover;
}
html {
    overflow-x: hidden;
}
#sitetitle {
    text-decoration-thickness: 0.1em;
    font-family:"Ubuntu";
    font-weight: 700;
    font-size: 4em;
    padding: 3%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
    background: #A40058;
    overflow: clip;
    color: white;
    text-align: center;
    margin-left: -8%;
}
.waves {
    fill: #A40058;
    width: 300%;
    height: 80px;
    overflow: clip;
    margin-left: 60%;
}
.wavesupside {
    fill: #A40058;
    width: 300%;
    height: 145px;
    margin-left: -60%;
    transform: rotate(180deg);
    overflow: clip;
}
.grid {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    place-items: center;
    color: white;
}
#Uptime {
    margin-top: 2em;
    display: inline-block;
    font-family: Ubuntu;
    font-weight: 500;
}
#Discord {
    margin-top: 1em;
    display: inline-block;
    font-family: Ubuntu;
    font-weight: 500;
}
a:visited {
    color: white;
}
a:link {
    color: white;
}
#discord_widget {
    display: inline-block;
    margin-top: 4em;
}
#welcome_msg {
    font-family: Ubuntu;
    font-weight: 700;
    margin-top: 1em;
    text-align: center;
}
#Replit {
    font-family: Ubuntu;
    margin-top: 1em;
    font-weight: 500;
    display: inline-block;
}
#uptmrobot {
    font-family: Ubuntu;
    font-weight: 700;
}
#dscrd {
    font-family: Ubuntu;
    font-weight: 700;
}
#replt {
    font-family: Ubuntu;
    font-weight: 700;
}
#Github {
    font-family: Ubuntu;
    margin-top: 1em;
    display: inline-block;
    font-weight: 500;
}
#githb {
    font-family: Ubuntu;
    font-weight: 700;
}
#dcs {
    margin-top: 1em;
    display: inline-block;
    font-family: Ubuntu;
    font-weight: 700;
}
#doocs {
    display: inline-block;
    font-family: Ubuntu;
    font-weight: 500;
    
}
#big-dc {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 2em;
}
#lastwave {
    margin-top: 2%;
}