:root {
    font-family: "Roboto Flex", system-ui, -apple-system, sans-serif;
}
.hide {
    display: none;
}
.g {
    display: inline-flex;
}
body {
    width: 100%;
    margin: 0;
    height: auto;
}
pageHead {
    position: fixed;
    font-family: "Poppins";
    display: block;
    font-weight: 700;
    height: 3rem;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 2;
}
leftDivision {
    width: 25%;
    height: 3rem;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
logo {
    height: 2rem;
    width: 2rem;
}
#logo {
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
}
h1 {
    display: none;
}
h2 {
    text-decoration: none;
    font-size: 2rem;
}
logoText {
    margin-left: 1rem;
}
navbar {
    display: flex;
    float: right;
    height: 3rem;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
}
tools, docs, home, blog {
    display: flex;
    align-items: center;
    width: 1.5rem;
}
#lightswitch, #darkswitch {
    height: 1rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0);
    border: none;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.mobileOnly {
    display: contents;
    text-align: center;
}
.desktopOnly {
    display: none;
}
gridDivision {
    display: block;
    margin: 0;
}
textDivision {
    display: block;
    word-wrap: normal;
    width: 100%;
    text-align: center;
}
#blogImage {
    scale: 1.25;
    display: block;

}
imageDivision {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
#divisionButton {
    margin-left: 30%;
    margin-top: 1rem;
    margin-bottom: 4rem;
}