:root {
    --radius: 25px;
}
body {
    background: url(assets/ccchaos.svg);
    background-color: #0c1444;
    background-size: cover;
    width: 100%;
    margin: 0;
}
buttonArray {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    top: 100px;
    width: 85%;
    height: auto;
    
}
pageHead {
    position: absolute;
    overflow-x: clip;
    width: 100%;
    height: 70px;
    background: #26b0ff50;
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 15px 15px;
}
pageTitle {
    position: absolute;
    width: 70%;
    text-align: left;
    font-family: "Ubuntu";
    font-style: normal;
    padding-left: 10px;
    padding-top: 7px;
    word-wrap: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}
button1, button2, button3, button4 {
    width: 120px;
    height: 66px;
}
#githubButton, #youtubeButton, #placeHolderButton, #placeHolderButton2 {
	height: 30px;
	place-self: center;
	width: 30px;
	display: grid;
	grid-column: 1;
}
#Text1, #Text2, #Text3, #Text4 {
	display: grid;
	grid-column: 2;
	font-family: "Ubuntu";
	font-weight: 700;
    font-size: smaller;
	place-self: center;
}
hamburger, closeX {
    --borderThickness: 5px;
}
closeX, hamburger {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 25%;
    right: 15px;
}
blogTitle {
    position: absolute;
    display: grid;
    font-family: "Ubuntu";
    top: 35%;
    width: 100%;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}
blog {
	position: relative;
	display: grid;
	height: 500px;
    width: 100%;
	padding-top: 15px;
    align-self: center;
    gap: 15px;
	border-radius: var(--radius);
	font-family: "Ubuntu";
    padding: 0px
}
article1 {
	display: grid;
	grid-template-rows: 40px;
	grid-row: 1;
	grid-column: 1;
	background: white;
	border-radius: var(--radius);
    width: 100%;
    height: 150px;
    position: absolute;
width: 393px;
height: 48px;
left: 0px;
top: 102px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
article2 {
	display: grid;
	grid-template-rows: 40px;
	grid-row: 2;
	grid-column: 1;
	background: white;
	border-radius: var(--radius);
}
article3 {
	display: grid;
	grid-template-rows: 40px;
	grid-row: 3;
	grid-column: 1;
	background: white;
	border-radius: var(--radius);
}
article4 {
	display: grid;
	grid-template-rows: 40px;
	grid-row: 4;
	grid-column: 1;
	background: white;
	border-radius: var(--radius);
}
copyright {
	font-size: 16px;
	font-family: "Ubuntu";
	color: white;
	position: absolute;
	display: grid;
	width: 100%;
    word-wrap: normal;
	padding-top: 700px;
	padding-bottom: 5px;
	align-content: center;
	text-align: center;
}