:root {
    font-family: "Roboto Flex", system-ui, -apple-system, sans-serif;
}
@keyframes pageLoad {
    0% {
        opacity: 0;
        background-color: #2c2c2c;
    }
    100% {
        opacity: 100;
        background-color: white;
    }
}
html {
    animation: pageLoad 0.5s;
}
.hide {
    display: none;
}
.show {
    display: flex;
}
.g {
    display: inline-flex;
}
body {
    width: 100%;
    margin: 0;
    height: auto;
}
pageHead {
    position: fixed;
    font-family: "Poppins", system-ui, sans-serif;
    display: block;
    font-weight: 700;
    height: 3rem;
    width: 100%;
    background: #30aec4a9;
    backdrop-filter: blur(5px);
    z-index: 2;
}
leftDivision {
    width: 15%;
    height: 3rem;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
logo {
    height: 2rem;
    width: 2rem;
}
#logo {
    height: 2rem;
    width: 2rem;
}
navbar {
    display: flex;
    float: right;
    height: 3rem;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
}
tools, docs, home, blog {
    display: flex;
    align-items: center;
}
a {
    padding: 1rem;
    color: black;
    text-decoration: none;
}
pageContent {
    display: block;
    position: absolute;
    margin-top: calc(3rem + 2px);
    height: auto;
    width: 100%;
    z-index: 1;
}
h1, h2, h3 {
    font-size: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: 1000;
    text-decoration: underline;
    font-family: "Poppins", system-ui, sans-serif;
}
.mobileOnly {
    display: none;
}
.desktopOnly {
    display: contents;
}
cSpacer {
    display: inline-block;
    height: 6rem;
    width: 100%;
}
gridDivision {
    font-size: 1rem;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 24rem;
    margin-left: 20em;
    margin-right: 20rem;
    column-gap: 1rem;
}
imageDivision {
    display: grid;
    grid-column: 1;
}
#blogImage {
    aspect-ratio: initial;
    scale: 1.75;
}
textDivision {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    width: 32rem;
}
#divisionButton {
    padding: 1rem;
    background-color: #3cbe61;
    border-radius: 25px;
    border: none;
    width: 10rem;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
    font-weight: 700;
    font-family: "Poppins", system-ui, sans-serif;
    cursor: pointer;
}
@media (prefers-color-scheme: dark) {
    :root {
        font-family: "Roboto Flex", system-ui, -apple-system, sans-serif;
        color: white;
    }
    body {
        background: #2c2c2c;
    }
    pageHead {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(126deg, #367AFF 0%, #6803B7 43.75%, #44007A 100%);
        box-shadow: 0px 0px 5px 0px #FFFFFF00;
    }
    tools, docs, home, blog {
        color: white;
    }
}