pageContent {
    display: flex;
    width: 100%;
    justify-content: center;
}
articles {
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
}
art1, art2, art3, art4 {
    width: 40%;
    background: #345174;
    margin: 1rem;
    height: 32rem;
}