:root {
    --background: #ffffff;
    --background-dark: #2c2c2c;

    --background-head: #30aec4a9;
    --background-head-dark: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(126deg, #367AFF 0%, #6803B7 43.75%, #44007A 100%); /*This is not a color!*/

    --white: #ffffff;
    --black: #000000;
}