@import '../node_modules/tailwindcss/base.css';
@import '../node_modules/tailwindcss/components.css';
@import '../node_modules/tailwindcss/utilities.css';

@layer base {
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../assets/PlusJakartaSans-Regular.ttf")format(truetype);
}
@font-face {
    font-family: "Plus Jakarta Sans Extrabold";
    src: url("../assets/PlusJakartaSans-ExtraBold.ttf")format(truetype);
}
h2 {
    @apply no-underline text-3xl md:text-5xl w-full content-center font-circleBold;
}
h1, h3 {
    @apply text-3xl md:text-5xl flex content-center w-full font-circleBold underline;
}
.button {
    @apply p-3 bg-cyan-500 hover:bg-cyan-600 rounded-lg w-40 cursor-pointer font-circleBold;
}
.grad {
    @apply bg-gradient-to-br from-[#299300] via-[#009274] to-[#0088BD] bg-clip-text;
}
e.material-symbols-outlined {
    @apply text-3xl;
}
.a {
    @apply p-4 no-underline;
}
box {
    @apply md:grid md:grid-cols-[1fr_5fr] md:w-4/5 md:mb-12;
}
.carrousel {
    @apply border-2 border-slate-500 min-w-72 snap-center mx-4 rounded-lg font-circle;
}
.bg-card {
    @apply border-2 border-slate-200 min-w-72 min-h-64 rounded-lg p-2 snap-center;
}
}