@import "tailwindcss";

@layer base {
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../assets/PlusJakartaSans-Regular.ttf")format(truetype);
}
@font-face {
    font-family: "Plus Jakarta Sans Extrabold";
    src: url("../assets/PlusJakartaSans-ExtraBold.ttf")format(truetype);
}

@theme {
    --font-circle: "Plus Jakarta Sans", sans-serif;
    --font-circleBold: "Plus Jakarta Sans Extrabold", sans-serif;
    --font-sans: "Roboto Flex", "system-ui", sans-serif;
    --font-mono: "Jetbrains Mono", monospace;
    
    --color-gradient-100: #4e82ee;
    --color-gradient-200: #a371bf;
    --color-gradient-150: #d96570;

    --color-dark-100: #131313; /* Use for background */
    --color-dark-200: #232323; /* Use for emphasis */
    --color-dark-300: #333333; /* Use for hover */

    --color-light-100: #F5F5F5; /* Use for background */
    --color-light-200: #E5E5E5; /* Use for emphasis */
    --color-light-300: #D5D5D5; /* Use for hover */
}


h1, h2, h3, h4, h5, h6 {
    @apply font-circleBold;
}
.gradient-text {
    @apply bg-gradient-to-r from-gradient-100 via-gradient-150 to-gradient-200 bg-clip-text text-transparent;
}
e.material-symbols-outlined {
    @apply text-3xl;
}
}